@model parkingApp.Models.Parking
@*@model IEnumerable<parkingApp.Models.Parking>*@

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AdminDetails</title>
</head>
<body>
    <div>
        <h4>Parking</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Driver)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Driver)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model._Date)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model._Date)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model._Status)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model._Status)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
